// reset
*, *:before, *:after {
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, form, fieldset, legend,
input, textarea, p, blockquote, th, td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset, img {
    border:0;
}
li {
    list-style:none;
}
caption, th {
    text-align:left;
}
q:before,
q:after {
    content:"";
}
input:password {
    ime-mode:disabled;
}
*:focus {
    outline:none;
}
a{
  text-decoration: none;
}
// base
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#app, .web-container {
  height: 100%;
  overflow-y: scroll;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*height:1%;}
.saas-primary-btn {
  margin: 0 auto;
  text-align: center;
  font-size:32px;
  color:rgba(255,255,255,1);
  width:560px;
  height:96px;
  line-height:96px;
  background:rgba(49,212,218,1);
  border-radius:48px;
}

