.pay-order {
  display: flex;
  flex-direction: column;
  min-height: 1334px;
  .title {
    font-size: 32px;
    color: rgba(93,93,93,1);
    line-height: 120px;
    padding-left: 32px;
  }
  .item {
    display: flex;
    height: 80px;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f3f3f3;
    &.last {
      border-bottom: none;
    }
  }
  .name {
    margin-left: 32px;
    font-size: 28px;
    color: rgba(157,157,157,1);
    line-height: 40px;
  }
  .value {
    margin-right: 32px;
    height: 40px;
    font-size: 28px;
    color: rgba(93,93,93,1);
    line-height: 40px;
  }
  .wechat-pay-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    div:first-child {
      margin-left: 32px;
      margin-right: 8px;
      width: 48px;
      height: 48px;
      background: url('https://biosan-saas.oss-cn-beijing.aliyuncs.com/weichat/line/wechat.png') no-repeat;
      background-size: contain;
    }
    div:last-child {
      margin-left: 0px;
      font-size:28px;
      font-family:PingFangSC-Regular;
      color:rgba(93,93,93,1);
      line-height:40px;
    }
  }
  .wechat-pay-checked {
    margin-right: 36px;
    width: 40px;
    height: 40px;
    background: url('https://biosan-saas.oss-cn-beijing.aliyuncs.com/weichat/line/wechat-pay-checked.png') no-repeat;
    background-size: contain;
  }
  .pay {
    margin-top: 120px;
  }
  .price {
    color:rgba(227,13,48,1);
  }
}
