.mt120 {
  margin-top: 120px!important;
}
.btn-primary {
  width: 560px;
  height: 96px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 32px;
  line-height: 96px;
  text-align: center;
  border-radius: 48px;
  background: #31D4DA;
}
.blue {
  color: #31D4DA;
}
.gray {
  color: #B2B2B2;
}
.link {
  color: #4A90E2;
  text-decoration: underline;
}
.rule-container {
  color: #333333;
  font-size: 32px;
  line-height: 58px;
  background-color: #ffffff;
  font-family: PingFangSC-Regular;
  .rules-text {
    padding: 0 30px 150px 32px;
    .title{
      padding: 40px 0;
      font-size: 32px;
      text-align: center;
      font-weight: bold;
      display: block;
    }
    .bold{
      font-weight: bold;
    }
    .sub-title {
      font-weight: bold;
    }
    p {
      margin-top: 44px;
    }
  }
}
.am-picker-popup {
  .am-picker-popup-item {
    color: #31D4DA;
  }
}
